#canvas {
  width: 300px;
  height: 300px;
  background-color: ivory;
  margin: 0 auto;
  box-shadow: 15px 15px 10px gray;
}
/* first row */
#first-row {
    height: 75%;
    width: 100%;
}
#big-rectangle {
    height: 100%;
    width: 75%;
}
#first-divider {
    height: 100%;
    width: 3%;
}
#first-column {
    height: 100%;
    width: 22%;
}
#second-divider {
    height: 6%;
    width: 100%;
}
#first-medium-rectangle {
    height: 48.5%;
    width: 100%;
}
#second-medium-rectangle {
    height: 45.5%;
    width: 100%;
}
/* second row */
#second-row {
    height: 3%;
    width: 100%;
}
#left-rectangle {
    height: 22%;
    width: 22%;
}
.bottom-divider {
    height: 22%;
    width: 3%;
}
#large-rectangle {
    height:22%;
    width: 65%;
}
.small-rectangle {
    height: 8%;
    width: 7%;
}
#small-divider {
    height: 6%;
    width: 7%;
}
/* Colors */
.red {
    background-color: red;
}
.black {
    background-color: black;
}
.grey {
    background-color: #cfcfcf;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
/* Floats */
.right {
    float: right;
}
.left {
    float: left;
}

/* Picture */

#picture {
    width: 300px;
    height: 300px;
    margin: 20px auto 0;
    background-color: #c0fa9f;
    box-shadow: 10px 10px 20px grey;
}
.separate-columne {
    height: 100%;
    width: 4%;
}

#first-columne, #second-columne, #third-columne {
    height: 100%;
    width: 20%;
}
.gradient {
    height: 100%;
    width: 4%;
}
.large-size-rectangle {
    width: 100%;
    height: 60%;
}
.medium-size-rectangle {
    width: 100%;
    height: 40%;
}
.small-size-rectangle {
    width: 100%;
    height: 20%;
}

/* new colors */

.purple {
    background-color: purple;
}
.crimson {
    background-color: crimson;
}
.darkgoldenrod {
    background-color: darkgoldenrod;
}
.gradient-red-blue {
    background: linear-gradient(to bottom, red 0%, blue 100%)
}
.gradient-blue-red {
    background: linear-gradient(to top, red 0%, blue 100%)
}